:root {
  --oui-font-family: 'IBM Plex Sans', sans-serif;
  --trading-disabled-text: "Trading Disabled";

  /* colors */
  --oui-color-primary: 0 206 184;
  --oui-color-primary-light: 32 224 202;
  --oui-color-primary-darken: 0 166 148;
  --oui-color-primary-contrast: 0 0 0;

  --oui-color-link: 0 206 184;
  --oui-color-link-light: 32 224 202;

  --oui-color-secondary: 255 255 255;
  --oui-color-tertiary: 136 141 153;
  --oui-color-quaternary: 94 99 108;

  --oui-color-danger: 245 97 139;
  --oui-color-danger-light: 255 102 102;
  --oui-color-danger-darken: 239 69 74;
  --oui-color-danger-contrast: 255 255 255;

  --oui-color-success: 41 233 169;
  --oui-color-success-light: 72 187 120;
  --oui-color-success-darken: 32 178 108;
  --oui-color-success-contrast: 255 255 255;

  --oui-color-warning: 255 209 70;
  --oui-color-warning-light: 255 183 111;
  --oui-color-warning-darken: 230 130 50;
  --oui-color-warning-contrast: 255 255 255;

  --oui-color-fill: 24 26 32;
  --oui-color-fill-active: 34 36 44;

  --oui-color-base-1: 93 83 123;
  --oui-color-base-2: 68 60 90;
  --oui-color-base-3: 58 52 78;
  --oui-color-base-4: 48 44 66;
  --oui-color-base-5: 38 36 54;
  --oui-color-base-6: 30 28 42;
  --oui-color-base-7: 51 46 66;
  --oui-color-base-8: 24 22 36;
  --oui-color-base-9: 18 16 28;
  --oui-color-base-10: 14 13 18;

  --oui-color-base-foreground: 255 255 255;
  --oui-color-line: 93 83 123;

  --oui-color-trading-loss: 245 97 139;
  --oui-color-trading-loss-contrast: 255 255 255;
  --oui-color-trading-profit: 41 233 169;
  --oui-color-trading-profit-contrast: 255 255 255;

  /* gradients */
  --oui-gradient-primary-start: 0 206 184;
  --oui-gradient-primary-end: 0 166 148;

  --oui-gradient-secondary-start: 44 48 58;
  --oui-gradient-secondary-end: 24 26 32;

  --oui-gradient-success-start: 41 233 169;
  --oui-gradient-success-end: 22 163 74;

  --oui-gradient-danger-start: 245 97 139;
  --oui-gradient-danger-end: 234 57 67;

  --oui-gradient-brand-start: 32 224 202;
  --oui-gradient-brand-end: 0 206 184;
  --oui-gradient-brand-stop-start: 6.62%;
  --oui-gradient-brand-stop-end: 86.5%;
  --oui-gradient-brand-angle: 17.44deg;

  --oui-gradient-warning-start: 255 209 70;
  --oui-gradient-warning-end: 230 130 50;

  --oui-gradient-neutral-start: 24 26 32;
  --oui-gradient-neutral-end: 34 36 44;

  /* rounded */
  --oui-rounded-sm: 2px;
  --oui-rounded: 4px;
  --oui-rounded-md: 6px;
  --oui-rounded-lg: 8px;
  --oui-rounded-xl: 12px;
  --oui-rounded-2xl: 16px;
  --oui-rounded-full: 9999px;

  /* spacing */
  --oui-spacing-xs: 20rem;
  --oui-spacing-sm: 22.5rem;
  --oui-spacing-md: 26.25rem;
  --oui-spacing-lg: 30rem;
  --oui-spacing-xl: 33.75rem;
}

html, body {
  font-family: 'IBM Plex Sans', sans-serif !important;
  font-size: 15.5px !important;
}